// Colors
$color-white: #fff;
$color-black-text: #1c1c1e;
$color-blue: #185abc;
$color-grey: #ccc;
$color-grey-light: rgb(241 248 250 / 100%);
$color-red: #ee2424;

// Device
$desktop-width: 1439px;
$tablet-width: 1119px;
$mobile-width: 767px;
