@import '../../styles/helpers/variables';

.form {
  border: 1px solid $color-grey;
  border-radius: 12px;
  box-shadow: (0 20px 40px rgba(135 124 202 / 25%));
  padding: 20px 20px 20px 40px;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    gap: 10px;
  }
}

.formDisabled {
  opacity: 0.5;
  background-color: rgb(189 191 192 / 100%);
  transition: all 0.3s ease-in;

  .edit {
    &:hover {
      opacity: 0.3;
      cursor: auto;
    }
  }
}

.content {
  width: 65%;

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.title {
  color: $color-blue;
  margin: 10px;

  @media (max-width: $mobile-width) {
    margin: 5px;
  }
}

.input {
  border: 1px solid $color-grey;
  border-radius: 12px;
  color: $color-black-text;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 10px;

  &:disabled {
    border: 1px dotted $color-grey;
  }
}

.description {
  max-height: 200px;
  height: 100%;
  overflow-y: auto;
  resize: none;

  @media (max-width: $mobile-width) {
    max-height: 100px;
    height: auto;
  }
}

.file {
  display: none;
}

.upload {
  border: 2px solid $color-blue;
  box-sizing: border-box;
  border-radius: 10px;
  color: $color-black-text;
  background-color: $color-grey-light;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
}

.uploadLabel {
  width: 100%;
  display: inline-block;
  cursor: pointer;
}

.fileItem {
  padding: 0 10px;
  font-size: 80%;
}

.buttons {
  width: 200px;
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.button {
  width: 35px;
  height: 35px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 2px;
  opacity: 0.3;

  &:hover {
    opacity: 1;
    transition: all 0.2s ease-in;
  }

  &:active {
    opacity: 0.5;
    transition: all 0.2s ease-in;
  }
}

.edit {
  &:hover {
    svg {
      fill: $color-blue;
      transition: all 0.2s ease-in;
    }
  }
}

.delete {
  &:hover {
    svg {
      fill: $color-red;
      transition: all 0.2s ease-in;
    }
  }
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  background-image: url('../../assets/icons/checkbox.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.checkboxDone {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  background-image: url('../../assets/icons/checkboxDone.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.date {
  border: none;
  background-color: transparent;
  color: $color-black-text;
  outline: none;
}

.dateExpired {
  color: $color-red;
}
